.home-links {
      display: flex;
      justify-content: center;
      align-items: center;
      & li a {
        color: #fff;
      }
      & > * {
        margin-left: 1rem;
        color: #fff;
      }}